.container{
    margin-bottom: 100px;
}

.labib-bg{
    background-color: #FEEAE9;
    border-radius: 8px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #FF136F;
}

.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF569B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: #fff;
    cursor: pointer;
}